<div id="footer">
	<div class="inside">
		<div class="left">
	 		<p><%= footer_logo %></p>
		</div>
		<div class="right">
			<ul>
				<li class="first-child"></li>
				<li><%= link_to "About", about_path %></li>
			  <li><%= link_to "Contact", contact_path %></li>
				<li><a href="http://agh.edu.pl/pl/wspolpraca.html">Item3</a></li>
				<li><a href="http://agh.edu.pl/pl/kontakt.html">Item2</a></li>
				<li><a href="http://agh.edu.pl/pl/webmaster.html">Item1</a></li>
			</ul>	
		</div>
	</div>
</div>
